doctype $
html
		head
			link(rel='stylesheet', type='text/css', href='/index.css')
			link(rel='stylesheet', type='text/css', href='/index-grid.css')
			link(rel='stylesheet', type='text/css', href='/standardize.css')
			title My App
		body
			block content
