extend ../views/layouts/layout

block content
    div(class="container")
        h1(class="text-1") Index page
        a(class="submit" href="/login") Login
        a(class="submit" href="/signup") Signup