.span-1 {
  width: 47px;
}

.span-2 {
  width: 114px;
}

.span-3 {
  width: 180px;
}

.span-4 {
  width: 247px;
}

.span-5 {
  width: 314px;
}

.span-6 {
  width: 380px;
}

.span-7 {
  width: 447px;
}

.span-8 {
  width: 514px;
}

.span-9 {
  width: 580px;
}

.span-10 {
  width: 647px;
}

.span-11 {
  width: 713px;
}

.span-12 {
  width: 780px;
}

.span-13 {
  width: 847px;
}

.span-14 {
  width: 913px;
}

.span-15 {
  width: 980px;
}

.offset-1 {
  margin-left: 67px;
}

.offset-2 {
  margin-left: 133px;
}

.offset-3 {
  margin-left: 200px;
}

.offset-4 {
  margin-left: 267px;
}

.offset-5 {
  margin-left: 333px;
}

.offset-6 {
  margin-left: 400px;
}

.offset-7 {
  margin-left: 466px;
}

.offset-8 {
  margin-left: 533px;
}

.offset-9 {
  margin-left: 600px;
}

.offset-10 {
  margin-left: 666px;
}

.offset-11 {
  margin-left: 733px;
}

.offset-12 {
  margin-left: 800px;
}

.offset-13 {
  margin-left: 866px;
}

.offset-14 {
  margin-left: 933px;
}

